<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="https://www.nuget.org/api/v2/package" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAcMrgfeF7N02ywFGqjPvLkgAAAAACAAAAAAADZgAAwAAAABAAAAA6Kga3BVnVRb6etkulDxoaAAAAAASAAACgAAAAEAAAAKKRCbL6L1hxKmoU+1HwKPEoAAAAI51LqBQNnKxt963Ez1VnTIP2GXg9+BPKqCAH6AlhC9T3eoLuf/5pMxQAAACkx/V7fWfhFDFnr8YKObeqBi4l9w==" />
  </apikeys>
  <packageSources>
    <add key="NuGet official package source" value="https://www.nuget.org/api/v2/package" />
  </packageSources>
</configuration>